table, table td {
				padding: 8px;
				border: none;
				border-collapse: collapse;
			}
.buttonForm{
				//padding: 15px 25px;
				//font-size: 24px;
				cursor: pointer;
				text-align: center;
				text-decoration: none;
				outline: none;
				background-color: #002141; 
				color: white;
				border: none;
				border-radius: 15px;
				box-shadow: 0 5px #999;
			}
.buttonForm:hover{
				background-color: #F0F3F5; /* 8B8B8B */
				color: #002141;
			}
.buttonForm:active {
				background-color: #F0F3F5;
				box-shadow: 0 5px #666;
				transform: translateY(4px);
			}
button {
				border-radius: 10px;
				background-color: #E76565; /* Green */
				color: white;
			}
button:hover {
				background-color: #002141; /* Green */
				color: white;
			}
#noFlies{
				color:red;
}

#tableInfo {  color: #333; font-family: Helvetica, Arial, sans-serif; width: 1000px; border-collapse: collapse;}

#tableInfo	td, th { border: 1px solid transparent; height: 30px; }

#tableInfo	th { background: #D3D3D3; font-weight: bold; }

#tableInfo	td { background: #FAFAFA; text-align: center; }
#tableInfo	tr:nth-child(even) td { background: #F1F1F1; }  

#tableInfo	tr:nth-child(odd) td { background: #FEFEFE; } 
#tableInfo	tr:hover td { background: #d0dafd; color: #339; }
