<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Vuelos ATM</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="format-detection" content="telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/booking.css">
		<link rel="stylesheet" href="css/camera.css">
		<link rel="stylesheet" href="css/owl.carousel.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/estilo.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/camera.js"></script>
		<!--[if (gt IE 9)|!(IE)]><!-->
		<script src="js/jquery.mobile.customized.min.js"></script>
		<!--<![endif]-->
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script> <!--Libreria Angular-->
        <script src="control.js"></script><!--Controlador Json-->
        <!--Cabezera de la pagina-->
		<script src="js/header.js"></script>
	</head>
	<body class="page1" id="top" >
<!--==============================header=================================-->
		<header>
			<div class="container_12">
				<div class="grid_12">
					<div class="menu_block">
						<nav class="horizontal-nav full-width horizontalNav-notprocessed">
							<ul class="sf-menu">
								<li class="current"><a href="index.html">Vuelos ATM</a></li>
								<li class="current"><a href="html/pasajeros.html">Pasajeros</a></li>
								<li class="current"><a href="html/aerolineas.html">Aerolineas</a></li>
							</ul>
						</nav>
						<div class="clear"></div>
					</div>
				</div>
				<div class="grid_12">
					<h1>
						<a href="index.html">
							<img src="images/logo.png" alt="Your Happy Family">
						</a>
					</h1>
				</div>
			</div>
		</header>
		<div class="slider_wrapper">
			<div id="camera_wrap" class="">
				<div data-src="images/madrid.jpg">
					<div class="caption fadeIn">
						<h2>Madrid</h2>
					</div>
				</div>
				<div data-src="images/barcelona.jpg">
					<div class="caption fadeIn">
						<h2>Barcelona</h2>
					</div>
				</div>
				<div data-src="images/sansebastian.jpg">
					<div class="caption fadeIn">
						<h2>San Sebastián</h2>
					</div>
				</div>
			</div>
		</div>
<!--==============================Content=================================-->
		<div class="content" ng-app="sesion1" ng-controller="ctrl1"><div class="ic"></div>
			<div class="container_12">			
				<div class="clear"></div>
				<div class="grid_6">
					<h3>Billete</h3>
					<form id="bookingForm" name="validateForm">
                        Ida:<input type="date" ng-model="ida" required>
                        Vuelta:<input type="date" ng-model="vuelta" required>
                        Origen:<br><select ng-model="selectedName" ng-options="x for x in origenes" required></select>
                        <button class="buttonForm" ng-click="clickOrigen()">Comprobar Destinos</button><br>
						Destino:<br><select ng-model="selectedName2" ng-options="x for x in destinos" required></select><br>
				        Pasajeros:<input type="number" ng-model="pasajeros" min="1" value="1" ng-change="cambioPasajeros()" required>
						<button class="buttonForm" ng-click="billetes()" ng-disabled="validateForm.$invalid || validateForm.$pristine">Buscar Vuelos</button><br>
					</form>
                    
				</div>
				<div class="grid_5 prefix_1">
					<h3>Bienvenido!!!</h3>
					<img src="images/page1_img1.jpg" alt="" class="img_inner fleft">
					<div class="extra_wrapper">
						<p>Lorem ipsum dolor sit ere amet, consectetur ipiscin.</p>
						In mollis erat mattis neque facilisis, sit ametiol
					</div>
				  <h4>Comentarios</h4>
					<blockquote class="bq1">
						<img src="images/page1_img2.jpg" alt="" class="img_inner noresize fleft">
						<div class="extra_wrapper">
							<p>Duis massa elit, auctor non pellentesque vel, aliquet sit amet erat. Nullam eget dignissim nisi, aliquam feugiat nibh. </p>
							<div class="alright">
								<div class="col1">Miranda Brown</div>
							</div>
						</div>
					</blockquote>
				</div>
				
			</div>
			<div class="container_12" ng-show="mostrar">

					<h3>Vuelos </h3>
					<div class="grid_5">
						<h6>
							<img src= "https://image.flaticon.com/icons/svg/59/59919.svg" height="25" width="25">  {{selectedOrigen}} <img src= "https://image.flaticon.com/icons/svg/876/876784.svg" height="25" width="25"> {{selectedDestino}} 
						</h6>
					</div>
					<div class="grid_5">
						<h6>
							<img src= "https://image.flaticon.com/icons/svg/149/149918.svg" height="25" width="25">  {{selectedIda.getDate()}}/{{selectedIda.getMonth()+1}}/{{selectedIda.getFullYear()}} <img src= "https://image.flaticon.com/icons/svg/876/876784.svg" height="25" width="25"> {{selectedVuelta.getDate()}}/{{selectedVuelta.getMonth()+1}}/{{selectedVuelta.getFullYear()}}
						</h6>
					</div>
					<div class="grid_2">
						<h6>
						<img src= "https://image.flaticon.com/icons/svg/76/76785.svg" height="25" width="25">  {{selectedPasajeros}}
						</h6>
					</div>
					
					<br>
					<br>
					<P>Seleccione el vuelo deseado pulsado en el botón correspondiente a dicho vuelo.</P>
					<table class="table" style="padding: 8px;">
					   <thead>
						  <tr>
							 <td>Ida</td>
							 <td>Vuelta</td>
							 <td>BUSINESS</td>
							 <td>OPTIMA</td>
							 <td>ECONOMY</td>
						  </tr>
					   </thead>
					   <tbody>
						  <tr ng-repeat="h in flies">
							 <td>{{h.vueloIda}}</td>
                             <td>{{h.vueloVuelta}}</td>
                             <td >{{h.costeB}} € <button ng-click="reservar(h, 1)" ng-if="h.costeB != 0">BUY</button> </td>
                             <td>{{h.costeO}} € <button ng-click="reservar(h, 2)" ng-if="h.costeO != 0">BUY</button> </td>
                             <td>{{h.costeE}} € <button ng-click="reservar(h, 3)" ng-if="h.costeE != 0">BUY</button> </td>
						  </tr>
					   </tbody>
					</table>
			</div>
			<div class="container_12" ng-show="noVuelos">
					<h5 id= "noFlies">Lo sentimos, no hay vuelos disponibles de {{selectedOrigen}} a {{selectedDestino}} en esas fechas</h5>
			</div>
			
			<div class="container_12" ng-show="carro" style="margin-top: 10px;">
                <p>Introduzca su Nombre y Apellido para efectuar su compra.</p>
				Nombre: <input type="text" ng-model="nombreCompradorN" required> Apellido:<input type="text" ng-model="nombreCompradorA" required><br>
				<button class="buttonForm" ng-click="comprar()">Comprar</button>
			</div>
            
            <div class="container_12" ng-show="mostrarVenta">
					<h5>Su vuelo ha sido comprado con éxito.</h5>
                    <p> Su vuelo es: {{selectedOrigen}}-{{selectedDestino}}.</p>
                    <p> En las fechas: {{selectedIda.getDate()}}/{{selectedIda.getMonth()+1}}/{{selectedIda.getFullYear()}} hasta {{selectedVuelta.getDate()}}/{{selectedVuelta.getMonth()+1}}/{{selectedVuelta.getFullYear()}}.</p>
                    <p>Gracias por confiar en nosotros.</p>
                    <button class="buttonForm" ng-click="comprado()">Aceptar</button>
			</div>
		</div>
    
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="copy">
						Tu viaje 2019  Website Designed by:
                        Juan Flores Pérez,
                        Ana María Montoya Osete,
                        Ricardo Robles Enciso,
                        Betzi Mabel Paccha.
                    </div>
				</div>
			</div>
		</footer>
	</body>
</html>

